extends layout

block content
    form(action='/todos', method='POST')
        input(name='text', type='text')
        button(type='submit') submit
    
    ul
        li
            a(href="/user") sign up if you havent yet
        li
            a(href="/user") log in to add todo
        li
            a(href="/profile") see your profile
        